
li {
    display: inline;
    float: left;
    }
a {
    display: block;
    background-color: none ;
    color: rgb(7, 4, 4);
    text-decoration: none;

    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    }
.list 1,2,3, {
    display: inline;
    text-align: center;
    padding: 80px 16px;
    margin: 1px;
    }
.list 2 {
    float: center;
    }

.list 3 {
    float: right;
    }

    /* to style my photo gallery & to learn gallery gridding (freecodecamp) */
